<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiamen.www">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MyTestActivity" />
        <activity android:name=".ui.activity.RxCreateActivity" />
        <activity android:name=".ui.activity.RxZipActivity" />
        <activity android:name=".ui.activity.RxMapActivity" />
        <activity android:name=".ui.activity.RxFlatMapActivity" />
        <activity android:name=".ui.activity.RxConcatMapActivity" />
        <activity android:name=".ui.activity.RxDoOnNextActivity" />
        <activity android:name=".ui.activity.RxFilterActivity" />
        <activity android:name=".ui.activity.RxSkipActivity" />
        <activity android:name=".ui.activity.RxTakeActivity" />
        <activity android:name=".ui.activity.RxTimerActivity" />
        <activity android:name=".ui.activity.RxIntervalActivity" />
        <activity android:name=".ui.activity.RxJustActivity" />
        <activity android:name=".ui.activity.RxSingleActivity" />
        <activity android:name=".ui.activity.RxConcatActivity" />
        <activity android:name=".ui.activity.RxDistinctActivity" />
        <activity android:name=".ui.activity.RxBufferActivity" />
        <activity android:name=".ui.activity.RxDebounceActivity" />
        <activity android:name=".ui.activity.RxDeferActivity" />
        <activity android:name=".ui.activity.RxLastActivity" />
        <activity android:name=".ui.activity.RxMergeActivity" />
        <activity android:name=".ui.activity.RxReduceActivity" />
        <activity android:name=".ui.activity.RxScanActivity" />
        <activity android:name=".ui.activity.RxFlowableActivity" />
        <activity android:name=".ui.activity.RxNetSingleActivity" />
        <activity android:name=".ui.activity.RxNetworkActivity" />
        <activity android:name=".ui.activity.RxCaseZipActivity" />
    </application>

</manifest>